<div class="row">
    <div class="col-xs-12">
        <surface-new-story-button></surface-new-story-button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="page">
            <div class="row">
                <div class="col-xs-12">
                    <surface-story-current-votes story="story"></surface-story-current-votes>
                    <div class="detailContainer">
                        <h2>{{story.title}}</h2>
                        <surface-story-created-on story="story"></surface-story-created-on>
                        <div class="buffer-top">
                            <surface-vote-buttons story="story"></surface-vote-buttons>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{story.description}}</p>
                </div>
            </div>
            <div class="row buffer-top">
                <div class="col-sm-12">
                    <a class="btn btn-default" href="#/stories">
                        <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                        Back
                    </a>
                    <button class="btn btn-danger" ng-click="deleteStory(story)" ng-disabled="isDeleting"
                            confirm="Are you sure you want to delete this story?">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <a class="btn btn-primary" href="#/stories/{{story.id}}/edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 commentPage">
        <div class="page">
            <surface-new-comment story="story"></surface-new-comment>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="commentContainer velocity-transition-fadeIn"
                     data-velocity-opts="{ stagger: 100 }"
                     ng-repeat="comment in comments track by $index">
                    <div>{{comment.commentText}}</div>
                    <div class="pull-right">
                        <small>
                            {{comment.user.name}}
                        <span uib-tooltip="{{comment.createdDatetime | date: constants.dateTimeUk}}"
                              class="tooltip-primary"
                              surface-tooltip>
                            {{comment.createdDatetime | relativeDate}}
                        </span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>