<div class="row">
    <div class="col-xs-12">
        <form id="AddNewComment" name="AddNewComment" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12 col-lg-9">
                    <textarea class="form-control commentText"
                              type="text"
                              id="commentText"
                              name="commentText"
                              ng-model="comment.commentText"
                              ng-required="true"
                              placeholder="Say something about this story..."></textarea>
                </div>
                <div class="col-md-12 col-lg-3">
                    <div class="btn-toolbar">
                        <button type="submit"
                                class="btn btn-primary pull-right"
                                ng-click="saveNewComment(comment)"
                                ng-disabled="isSubmitting || AddNewComment.$invalid">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {{isSubmitting ? 'Adding...' : 'Add Comment'}}
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>