<div class="row">
    <div class="col-xs-12">
        <surface-new-story-button></surface-new-story-button>
    </div>
</div>
<div class="page">
    <div class="page-header">
        <h1>{{story.title}}</h1>
        <surface-story-created-on story="story"></surface-story-created-on>
    </div>
    <form class="form-horizontal buffer-top">
        <fieldset class="form-group">
            <label for="title" class="control-label col-sm-2">Title</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="title" name="title" ng-model="story.title">
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label for="description" class="control-label col-sm-2">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" type="text" id="description" name="description" ng-model="story.description"></textarea>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label for="userId" class="control-label col-sm-2">Created by</label>
            <div class="col-sm-10">
                <select class="form-control" ng-options="user.id as user.name for user in users" id="userId" name="userId" ng-model="story.userId"></select>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <label for="votes" class="control-label col-sm-2">Votes</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="votes" name="votes" ng-model="story.votes">
            </div>
        </fieldset>

        <a class="btn btn-default" href="#/stories/{{story.id}}">
            <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
            Cancel
        </a>
        <button type="submit"
                class="btn btn-primary"
                ng-click="saveStory(story)"
                ng-disabled="isSubmitting">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            {{isSubmitting ? 'Saving...' : 'Save'}}
        </button>
    </form>
</div>