<div class="row">
    <div class="col-sm-12">
        <a class="pull-right btn btn-primary buffer-bottom" href="#/stories/new">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New Story</a>
    </div>
</div>

<div class="row storyList">
    <div ng-repeat="story in stories | orderBy: '-votes'" class="col-sm-12 story clearfix" ng-click="showStory(story)">
        <div class="voteContainer">
            <div class="vote bg-primary">
                {{story.votes}}
            </div>
        </div>
        <div class="detailContainer">
            <h2>{{story.title}}</h2>
            <surface-story-created-on story="story"></surface-story-created-on>
            <div class="buffer-top">
                <button type="button"
                        ng-repeat="voteValue in availableVoteValues"
                        class="btn-xs btn btn-success addVoteButton"
                        ng-click="addVote(story, voteValue); $event.stopPropagation();">
                    {{voteValue}}
                </button>
            </div>
        </div>
    </div>
</div>