<h1>New Story</h1>
<form>
    <fieldset class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" id="title" name="title" ng-model="story.title">
    </fieldset>

    <fieldset class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="description" ng-model="story.description"></textarea>
    </fieldset>

    <button class="btn btn-default" ng-click="cancelNewStory()">Cancel</button>
    <input type="submit" class="btn btn-default" value="{{isSubmitting ? 'Saving...' : 'Save'}}" ng-click="saveNewStory(story)" ng-disabled="isSubmitting">
</form>