a:hover,
a:focus {
    color: #FFF;
    text-decoration: none;
}
h1 {
	margin: 0;
	padding: 0;
}
.buffer-bottom {
    margin-bottom: 15px;
}
.buffer-top {
    margin-top: 15px;
}
.navbar-default {
    border: none;
    background: #1F1F1F;
    border-radius: 0;

    .navbar-brand {
        padding: 13px 15px;

	    a {
		    color: #e84238;

		    &:hover {
			    color: #FFF;
		    }
	    }
	    .logoText {
		    padding: 3px 0 0px 15px;
	    }
    }

    .navbar-brand,
    .navbar-nav > li > a {
        text-shadow: none;
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
        background: #000;
        color: #fcf8e3;
    }
    .navbar-nav > li > a {
        color: #fcf8e3;
    }
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
        background: #000;
        color: #fcf8e3;
    }
}
.page {
	padding: 30px;
	background-color: #2C2C2C;
}
.storyList {
    .story {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #2C2C2C;
    }
    .story:hover {
        background-color: #1F1F1F;
        cursor: pointer;
    }
    .voteContainer {
        float: left;
        margin-right: 15px;
        text-align: center;
        padding: 10px;

        .vote {
            padding-top: 9px;
            height: 75px;
            width: 75px;
            text-align: center;
            font-size: 40px;
        }
    }
    .detailContainer {
        margin-left: 110px;

        h2 {
            margin-top: 0;
        }
    }
	.addVoteButton {
		margin-right: 5px;
	}
}
.userList {
    .user {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #2C2C2C;
    }
    .user:hover {
        background-color: #1F1F1F;
        cursor: pointer;
    }
}